<!DOCTYPE html>
<html>
<head>
	<title>The T Talk </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/homestyle.css') }}">
</head>
<body>
	<header>
		<h1>The T Talk</h1>
		<nav>
			<ul>
				<li><a href="http://127.0.0.1:5000/">Home</a></li>
				<li><a href="http://127.0.0.1:5000/discussion">Discussions</a></li>
				<li><a href="http://127.0.0.1:5000/about">About Us</a></li>
				<li><a href="http://127.0.0.1:5000/post">New Post</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Welcome to our discussion forum!</h2>
			<p>Here you can participate in a wide range of discussions on various topics. Join in the conversation, share your ideas, and learn from others.</p>
		</section>
		<section>
			<h2>Recent Discussions</h2>
			<ul>
				{% for post in posts %}
				<li><a href= "{{post['id']}}"> {{post['title']}}</a></li>
				{% endfor %}
			</ul>
		</section>
		<section>
			<h2>Latest News on the MBTA</h2>
				<li><a href="https://www.boston.com/news/local-news/2023/04/07/man-arrested-in-alleged-attack-on-mbta-rider-at-haymarket-station/">Man arrested in alleged attack on MBTA rider at Haymarket Station</a></li>
				<li><a href="https://whdh.com/news/mbta-announces-marathon-monday-travel-details/">MBTA announces Marathon Monday travel details</a></li>
				<li><a href="https://www.cbsnews.com/boston/news/a-ride-on-the-red-line-takes-longer-than-a-bike-ride-can-the-new-general-manager-fix-this/">A ride on the Red Line takes longer than a bike ride; Can the new General Manager fix this?</a></li>

		</section>
	</main>
	<footer>
		<p>&copy; 2023 The T Talk</p>
	</footer>
</body>
</html>
